{% extends 'main.html' %}

{% block content %}

<div class="container-fluid page-body-wrapper full-page-wrapper">
  <div class="content-wrapper d-flex align-items-center auth">
    <div class="row flex-grow">
      <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left p-5">
          <h6 class="font-weight-light">Update Student Information</h6>
          <form method="post" enctype="multipart/form-data" class="pt-3">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Student Name" name="student_name" value="{{ form.instance.student_name }}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Class" name="student_class" value="{{ form.instance.student_class }}">
            </div>
            <div class="form-group">
                <input type="file" class="form-control-file" name="profile_pic">
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
